<div class="container">
	<div class="left-panel">
		<div class="profile-img-container">
			<img class="profile-img" src="assets/profile-img.png" alt="" />
		</div>
		<div class="contact">
			<div class="contact-header header">
				CONTACT
			</div>
			<div class="contact-group">
				<div class="contact-item">
					<img class="icon" src="assets/icon/contact/phone-call.png" alt="" />
					<div class="value" (click)="copyToClipboard($event)">(+66)83-585-7240</div>
				</div>
				<div class="contact-item">
					<img class="icon" src="assets/icon/contact/email.png" alt="" />
					<div class="value" (click)="copyToClipboard($event)">n_kittiphan@hotmail.com</div>
				</div>
				<div class="contact-item">
					<a target="_blank" href="https://www.facebook.com/magicszombie">
						<img class="icon" src="assets/icon/contact/facebook.svg" alt="" />
						<div class="value">Stamp Nilprakobkul</div>
					</a>
				</div>
				<div class="contact-item">
					<a target="_blank" href="https://github.com/asastamp">
						<img class="icon" src="assets/icon/contact/github.svg" alt="" />
						<div class="value">github.com/asastamp</div>
					</a>
				</div>
				<div class="contact-item">
					<a target="_blank" href="https://www.linkedin.com/in/stamp-nilprakobkul">
						<img class="icon" src="assets/icon/contact/linkedin.svg" alt="" />
						<div class="value">www.linkedin.com/in/stamp-nilprakobkul</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="right-panel">
		<div class="description">
			<div class="name">Kittiphan Nilprakobkul</div>
			<div class="description">Software Engineer based in Bangkok, Thailand</div>
		</div>
		<div class="education-section">
			<div class="rect-wrapper">
				<div class="inner-header-wrapper">
					<div class="header">
						EDUCATION
					</div>
				</div>
				<div class="inner-wrapper">
					<div class="becholor">
						<div class="name">Chulalongkorn University</div>
						<div class="degree">B.Eng. in Computer Engineering</div>
						<div class="elective-course">
							<div class="label">Elective Courses</div>
							<div class="subject">- Data sci/eng</div>
							<div class="subject">- AI</div>
							<div class="subject">- Cloud computing</div>
							<div class="subject">- Computer Security</div>
							<div class="subject">- High Tech Entrepreneur</div>
						</div>
						<div class="footer">
							<div class="date-time">Aug 2015 - May 2019</div>
							<div class="grade">(GPAX 3.06)</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="experience-section">
			<div class="rect-wrapper">
				<div class="inner-header-wrapper">
					<div class="header">
						PROFESSIONAL EXPERIENCE
					</div>
				</div>
				<div class="inner-wrapper">
					<div class="company">
						<div class="name">Bank of Ayudhya (Krungsri)</div>
						<div class="elective-course">
							<div class="label">Descriptions</div>
							<div class="subject">- </div>
							<div class="subject">- </div>
							<div class="subject">- </div>
							<div class="subject">- </div>
							<div class="subject">- </div>
						</div>
						<div class="footer">
							<div class="date-time">June 2018 - July 2018</div>
						</div>
					</div>
					<div class="company">
						<div class="name">Refinitiv Software (Thailand)</div>
						<div class="elective-course">
							<div class="label">Descriptions</div>
							<div class="subject">- </div>
							<div class="subject">- </div>
							<div class="subject">- </div>
							<div class="subject">- </div>
							<div class="subject">- </div>
						</div>
						<div class="footer">
							<div class="date-time">June 2019 - Present</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
