<div class="banner-container">
	<div class="left-panel">
		<div class="profile-img-container">
			<img class="profile-img" src="assets/profile-img.png" alt="" />
		</div>
		<div class="description mobile-description">
			<div class="name"> {{ resume.name }} </div>
			<div class="description-info"> {{ resume.description }} </div>
		</div>
		<div class="contact">
			<div class="contact-header header">
				CONTACT
			</div>
			<div class="contact-group">
				<!-- <div class="left-panel-item">
					<img class="icon" src="assets/icons/contact/phone-call.png" alt="" />
					<div class="value clickable" (click)="copyToClipboard($event)">(+66)83-585-7240</div>
				</div> -->
				<div class="left-panel-item">
					<img class="icon" src="assets/icons/contact/email.png" alt="" />
					<div class="value clickable" (click)="copyToClipboard($event)">n_kittiphan@hotmail.com</div>
				</div>
				<div class="left-panel-item">
					<a target="_blank" href="https://www.facebook.com/magicszombie">
						<img class="icon" src="assets/icons/contact/facebook.svg" alt="" />
						<div class="value clickable">Stamp Nilprakobkul</div>
					</a>
				</div>
				<div class="left-panel-item">
					<a target="_blank" href="https://github.com/asastamp">
						<img class="icon" src="assets/icons/contact/github.svg" alt="" />
						<div class="value clickable">github.com/asastamp</div>
					</a>
				</div>
				<div class="left-panel-item">
					<a target="_blank" href="https://www.linkedin.com/in/stamp-nilprakobkul">
						<img class="icon" src="assets/icons/contact/linkedin.svg" alt="" />
						<div class="value clickable">www.linkedin.com/in/stamp-nilprakobkul</div>
					</a>
				</div>
			</div>
		</div>
		<div class="tools">
			<div class="tools-header header">
				EXPEREINCED TOOL
			</div>
			<ng-container *ngFor="let skill of resume.skills">
				<div class="tools-sub-header header">
					{{ skill.topic }}
				</div>
				<div class="contact-group">
					<ng-container *ngFor="let subSkill of skill.skill">
						<div class="left-panel-item">
							<img class="key icon" [src]="subSkill.path" alt="" />
							<div class="value">{{ subSkill.name }}</div>
						</div>
					</ng-container>
				</div>
			</ng-container>
		</div>
	</div>
	<div class="right-panel">
		<div class="description desktop-description">
			<div class="name"> {{ resume.name }}</div>
			<div class="description-info"> {{ resume.description }}</div>
		</div>
		<ng-container *ngFor="let section of resume.mainSection">
			<div class="main-section">
				<div class="outter-wrapper">
					<div class="inner-header-wrapper">
						<div class="header">
							{{ section.sectionName }}
						</div>
					</div>
					<div class="inner-detail-wrapper">
						<ng-container *ngFor="let detail of section.details">
							<div class="detail">
								<div class="detail-header">
									<div class="name"> {{ detail.name }} </div>
									<div class="date-time" *ngIf="detail.dateTime"> {{ detail.dateTime }} </div>
									<div class="link" *ngIf="detail.link">
										<a target="_blank" [href]="detail.link"><img class="icon"
												src="assets/icons/link.svg" /></a>
									</div>
								</div>
								<div class="detail-sub-header"> {{ detail.subheader }} </div>
								<div class="main-section-description">
									<ng-container *ngFor="let description of detail.descriptions">
										<div [ngClass]="description.selector" [innerHTML]="description.label"></div>
									</ng-container>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</div>
