.container {
    display: flex;

    margin: 0 150px 100px;
    border-radius: 20px;

    background-color: white;

    & > .left-panel {
        flex-basis: 30%;

        padding: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px 0 0 20px;

        background-color: #fd79a8;
    }

    & > .right-panel {
        flex-basis: 70%;

        padding: 20px 40px;

        display: flex;
        flex-direction: column;
        align-items: center;

        > *:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    @media only screen and (max-width: 768px) {
        flex-direction: column;

        margin: 0;
        border-radius: 0;

        & > .left-panel {
            padding: 10px;
            border-radius: 0;
        }

        & > .right-panel {
            padding: 10px 10px;
        }
    }
}

.header {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 0 40px;
}

@media only screen and (max-width: 768px) {
    .header {
        font-size: 18px;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-group {
    display: grid;
    grid-template-columns: 30px max-content;
    grid-gap: 10px;

    align-items: center;
    justify-content: center;
}

.left-panel-item {
    display: contents;
}

.contact-header {
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .contact-group {
        grid-template-columns: 20px max-content;
        grid-gap: 0;
    }

    .contact-header {
        margin-bottom: 10px;
    }
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    &.mobile-description {
        display: none;
    }

    &.desktop-description {
        display: flex;
    }

    > * {
        text-align: center;
    }

    > .name {
        font-size: 48px;
        font-weight: 600;
        margin: 30px;
    }

    > .description-info {
        font-size: 20px;
    }

    @media only screen and (max-width: 768px) {
        &.mobile-description {
            display: flex;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 50%);
            margin-bottom: 20px;
        }

        &.desktop-description {
            display: none;
        }

        margin-bottom: 0;
        > .name {
            font-size: 24px;
            font-weight: 600;
            margin: 10px;
        }

        > .description-info {
            font-size: 18px;
        }
    }
}

.key {
    margin-right: 10px;
}

.icon {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 768px) {
    .icon {
        width: 20px;
        height: 20px;
    }
}

.value {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    padding: 10px;
    cursor: pointer;
    &:hover {
        background-color: #fd79a8;
    }
}

.profile-img-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.profile-img {
    width: 200px;
    height: 200px;

    border-radius: 50%;

    &:hover {
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    }
}

@media only screen and (max-width: 768px) {
    .profile-img-container {
        margin: 10px 10px 20px 10px;
    }

    .profile-img {
        width: 150px;
        height: 150px;
    }
}

a {
    display: contents;
    color: black;
    text-decoration: none;
}

.main-section {
    width: 100%;

    > .outter-wrapper {
        background-color: #fd79a8;

        display: flex;
        flex-direction: column;
        align-items: center;

        > .inner-header-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 50px;

            clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 0 100%, 15% 50%, 0 0);
            background-color: #e84393;
            width: calc(100% - 100px);

            > .header {
                color: white;
            }
        }

        > .inner-detail-wrapper {
            background-color: white;
            width: calc(100% - 20px);
            margin-bottom: 10px;
            padding: 20px;

            > .detail {
                &:not(:last-child) {
                    border-bottom: 1px solid gray;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }

                > .detail-header {
                    display: flex;
                    justify-content: space-between;
                    > .name {
                        font-size: 20px;
                        font-weight: 600;
                    }
                    > .date-time {
                        font-size: 18px;
                        color: #fd79a8;
                    }
                }

                > .degree {
                    font-size: 16px;
                }

                > .main-section-description {
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    > :is(.label, .item) {
                        font-size: 16px;
                    }

                    > .label {
                        font-weight: 600;
                    }

                    > .item {
                        margin-left: 20px;
                        &::before {
                            content: "→";
                            background-color: #fd79a8;
                            margin-right: 5px;
                        }
                    }

                    > * {
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }
            }

            @media only screen and (max-width: 768px) {
                > .detail {
                    &:not(:last-child) {
                        border-bottom: 1px solid gray;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                    }

                    > .detail-header {
                        > .name {
                            font-size: 16px;
                        }
                        > .date-time {
                            font-size: 14px;
                        }
                    }

                    > .main-section-description {
                        > :is(.label, .item) {
                            font-size: 12px;
                        }
                        > .item {
                            margin-left: 20px;
                        }
                    }
                }

                > .footer {
                    font-size: 12px;
                    margin-top: 10px;
                }
            }
        }
    }
}

.tools-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tools {
    > .contact-group {
        display: grid;
        grid-template-columns: repeat(2, 30px max-content);
    }
}
