*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	font-family: "K2D", sans-serif;
}

body {
	box-sizing: border-box;

	background-color: #13c987;
	color: #008657;
}
